.footer-section {
    border-top: 1px solid var(--border1);
    padding: 30px 0;
}

.footer-container {
    width: 1126px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
     @media (min-width: 1024px) {
        max-width: 80%;
    }
}

.footer-left span:first-child {
    background: var(--primary);
    color: var(--primary-fg);
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 50%;
}

.footer-left a {
    text-decoration: none;
}
.footer-left span:nth-child(2) {
    color: var(--fg);
    font-weight: 600;
}

.footer-left div {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-size: 0.9rem;
    padding: 10px 0;
    border-top: 1px solid var(--border1);
}

.cr {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}
.section2 {
    display: flex;
    padding: 10px 0 20px 0;
    flex-direction: column;
    gap: 15px;
}

.fs {
    padding: 10px 0;
}

.section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.section2 a {
    text-decoration: none;
    color: var(--muted-foreground);
    transition: all .3s ease-in-out;
}

.section2 a:hover {
    color: var(--fg);
}

.footer-icon {
    color: var(--muted-foreground);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.footer-icon:hover {
    color: var(--primary);
    transform: scale(1.1);
}