.nav__container {
    position: fixed;
    top: 15px;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateX(-50%);
    border-radius: var(--radius);
    border: 1px solid var(--border3);
    background-color: var(--nav);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    z-index: 4;
    width: 1126px;
    max-width: 90%;
    list-style-type: none;
    padding: 10px 16px;
    gap: 15px;
     @media (min-width: 768px) {
        justify-content: initial;
        gap: 50%;
    }
     @media (min-width: 1024px) {
        max-width: 80%;
    }
}

.sub-con {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__container  a {
    text-decoration: none;
    color: var(--muted-foreground);
    transition: all .3s ease-in-out;
}

.nav__container  a:hover {
    color: var(--fg);
}

.left span:first-child {
    background: var(--primary);
    color: var(--primary-fg);
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 50%;
}

.left span:nth-child(2) {
    color: var(--fg);
    font-weight: 600;
}

.left li {
    display: flex;
    gap: 8px;
    align-items: center;
}

.first {
    display: none;
    @media (min-width: 768px) {
        gap: 20px;
        display: flex;
    }
}

.right1 {
    display: none;
    @media (min-width: 768px) {
        display: block;
    }
}

.menu {
    display: flex;
    padding: 15px;
    width: 40px;
    height: 40px;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    border: 1px solid var(--border1);
    cursor: pointer;
    transition: all .3s ease-in-out;
    @media (min-width: 768px) {
        display: none;
    }
}

.menu:hover {
    border: 1px solid var(--border3);
}

.menu button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-icon {
    color: var(--fg);
    transition: all .3s ease-in-out;
}
.menu:hover .nav-icon {
    color: var(--primary);
}

.mobile-menu {
    position: fixed;
    top: 85px;
    left: 50%;
    transform: translate(-50%);
    width: 1126px;
    max-width: 90%;
    z-index: 3;
    border-radius: var(--radius);
    border: 1px solid var(--border3);
    padding: 10px 16px;
    background-color: var(--nav);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    @media (min-width: 768px) {
        display: none;
    }
}

.mobile-menu a {
    text-decoration: none;
    color: var(--fg);
    padding: 16px;
    font-weight: 700;
    border-radius: var(--radius);
    transition: all .3s ease-in-out;
}

.mobile-menu a:hover {
    background-color: var(--border1);
    color: var(--primary);
}

.right a {
    background: var(--primary);
    font-weight: 700;
    border-radius: var(--radius);
    text-decoration: none;
    padding: 8px 20px;
    color: var(--primary-fg);
    display: inline-block;
}

.right2 a {
    width: 100%;
    padding: 16px;
    text-align: center;
}
