.join-container {
    width: 1126px;
    max-width: 90%;
    padding: 20px 0 30px 0;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
    @media (min-width: 768px) {
        align-items: center;
        text-align: center;
    }

    @media (min-width: 1024px) {
        max-width: 80%;
    }
}

#join {
    scroll-margin-top: 70px;
}
.join-title {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--primary);
    font-weight: 600;
    font-size: 0.85rem;
}

.join-paragraph {
    font-size: 1.1rem;
    line-height: 1.5rem;
    @media (min-width: 768px) {
        width: 60%;
        text-align: center;
    }
}

.join-container h1 {
    margin-block: 14px;
    @media (min-width: 768px) {
        font-size: 5rem;
    }
}

.join-motto {
    padding: 20px 0;
}

.join-btns {
    display: flex;
    flex-direction: column;
    gap: 14px;
    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }
}

.join-container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    left: 0;
    filter: blur(200px);
    bottom: 0;
    width: 100%;
    transform: translateX(50%);
    background: var(--border2);
}