@media (prefers-color-scheme: light) {
  :root {
    --radius: 1.5rem;
    --bg: oklch(98.232% 0.00855 16.584);
    --fg: oklch(14% 0 0);

    --card: oklch(100% 0 0);
    --nav: oklch(99% 0 0 / 0.82);
    --card-fg: oklch(14% 0 0);
    --logo: url("/src/assets/images/dlogo1.png");
    --primary: oklch(72% .14 88);
    --primary-fg: oklch(99% 0 0);

    --gradient-hero: radial-gradient(
      ellipse at 70% 40%,
      oklch(82% .12 88 / 0.28) 0%,
      transparent 60%
    );

    --gradient: linear-gradient(
      135deg,
      #d4af37 0%,
      #f5d77a 50%,
      #d4af37 100%
    );
    
    --muted: oklch(95% 0 0);
    --muted-foreground: oklch(48% 0 0);

    --border1: oklch(0% 0 0 / 0.08);
    --border2: oklch(72% .14 88 / 0.45);
    --border3: oklch(72% .14 88 / 0.18);
    --mascot: url('/src/assets/images/lm.webp');

    --btn1: oklch(78% .19 128);
    --btn2: oklch(94% 0 0);

    --heading: "Clash Display", "Inter Variable", system-ui, sans-serif;
    --text: "Inter Variable", "Inter", system-ui, sans-serif;

    font-size: 16px;
    color-scheme: light dark;
    background: var(--bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (min-width: 1024px) {
      font-size: 18px/145% var(--sans);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --radius: 1.5rem;
    --bg: oklch(11% 0 0);
    --fg: oklch(98.5% 0 0);
    --card: oklch(16% 0 0);
    --nav: oklch(15.907% 0.00002 271.152 / 0.411);
    --card-fg: oklch(98.5% 0 0);
    --logo: url("/src/assets/images/wlogo.png");
    --primary-fg: oklch(12% 0 0);
    --primary: oklch(78% .14 88);
    --gradient-hero: radial-gradient(ellipse at 70% 40%, var(--primary) 0%, transparent 55%);
    --gradient: linear-gradient(135deg, #d4af37 0%, #f5d77a 50%, #d4af37 100%);
    --muted: oklch(19% 0 0);
    --mascot: url('/src/assets/images/hero-mascots.webp');
    --muted-foreground: oklch(72% 0 0);
    --border1: oklch(100% 0 0 / .08); 
    --border2: oklch(78% .14 88 / .6);
    --border3: oklch(78.181% 0.14054 88.277 / 0.274);
    --btn1: oklch(90% .19 128);
    --btn2: oklch(50% 0 0);
    --heading: "Clash Display", "Inter Variable", system-ui, sans-serif;
    --text: "Inter Variable", "Inter", system-ui, sans-serif;
    font-size: 16px;
    color-scheme: light dark;
    background: var(--bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    @media (min-width: 1024px) {
      font-size: 18px/145% var(--sans);
    }
  }
  
}

#root {
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--text);
}

h1,
h2,
h3,
.h3 {
  font-family: var(--heading);
  font-weight: 700;
  color: var(--fg);
}

.h3 {
  font-size: 1.17em;
}

h1 {
  font-size: 36px;
  letter-spacing: -1.68px;
  margin: 20px 0;
  @media (min-width: 1024px) {
    margin: 32px 0;
    font-size: 56px;
  }
}
h2 {
  font-size: 20px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (min-width: 1024px) {
    font-size: 24px;
  }
}
p,
span {
  margin: 0;
  color: var(--muted-foreground);
}

.gradient {
  background: var(--gradient);
  color: #0000;
  -webkit-background-clip: text;
  background-clip: text;
}

.motto {
  font-size: 1.38rem;
  font-style: italic;
  font-synthesis: style;
  font-weight: 700;
  font-family: var(--heading);
}

.cursor-glow {
  @media (min-width: 768px) {
    position: fixed;
    inset: 0;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;

    background: radial-gradient(
      circle,
      color-mix(in oklab, var(--primary) 18%, transparent) 0%,
      color-mix(in oklab, var(--primary) 8%, transparent) 35%,
      transparent 70%
    );

    filter: blur(60px);
    transform: translate(-50%, -50%);
    will-change: transform, opacity;
    }
}

.cursor-glow {
  opacity: .5;
  transition: opacity .3s ease,
  width .3s ease,
  height .3s ease;
}

.cursor-glow.active {
  width: 750px;
  height: 750px;
  opacity: .8;
}


